### Контрольная работа №1
https://stepik.org/lesson/746102/step/2?unit=747903

In [6]:
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan', 'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow', 'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan', 'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow', 'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow', 'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk', 'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow', 'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk', 'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'], 
        ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk', 'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan', 'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk', 'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959, 'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow', 'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk', 'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow', 'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734, 'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok', 'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan', 'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow', 'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512, 'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow', 'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan', 'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847, 'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115, 'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow', 'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441, 'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow', 'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [7]:
# Вопрос 1: определите средний возраст клиента

df.age.mean()

48.6

In [11]:
# Вопрос 2: на каком тарифе средний возраст клиента наименьший
df.groupby('tarif', as_index=False).agg({'age':'mean'})\
    .sort_values('age').tarif.values[0]

'Всё за 250 (архив)'

In [12]:
# Вопрос 3: из какого города больше всего клиентов?
df.groupby('city', as_index=False).agg({'name':'count'})\
    .sort_values('name', ascending = False).city.values[0]

'Moscow'

In [13]:
# Вопрос 4: на каком тарифе отправили больше всего СМС?
df.groupby('tarif', as_index=False).agg({'sms':'sum'})\
    .sort_values('sms', ascending = False).tarif.values[0]

'Всё за 800'

In [15]:
# Вопрос 5: определите самую популярную марку смартфона у пользователей до 40 лет (включительно)
df[df.age <=40].groupby('phone', as_index = False).agg({'name':'count'})\
    .sort_values('name', ascending = False).phone.values[0]

'Xiaomi'

In [17]:
# Вопрос 7: В каком городе клиенты меньше всего отправляют СМС?
df.groupby('city', as_index=False).agg({'sms':'sum'})\
    .sort_values('sms', ascending = True).city.values[0]

'Vladivostok'

In [18]:
# Вопрос 8: В каком городе клиенты больше всего говорят по телефону?
df.groupby('city', as_index=False).agg({'voice':'sum'})\
    .sort_values('voice', ascending = False).city.values[0]

'Moscow'

In [23]:
# Вопрос 9: Сколько заработала фирма на СМС сообщениях? Стоимость одного сообщения 3 рубля.
df.sms.sum() * 3

4605

Вопрос 10: Сколько заработала фирма на СМС сообщениях? Тарифная сетка:

ВИП - 1 рубль за СМС

Все за 300 - 2 рубля за СМС

Всё за 500 - 3 рубля за СМС

Всё за 800 - 4 рубля за СМС

Промо - 7 рублей за СМС

Корпоративный - 0 рублей за СМС

Всё за 250 (архив) - 5 рублей за СМС

In [44]:
true_sms = df.groupby('tarif', as_index=False).agg({'sms': 'sum'})
sms_dic = {'ВИП': 1, 'Все за 300': 2, 'Всё за 500':3, 'Всё за 800': 4, 'Промо': 7, 'Корпоративный':0, 'Всё за 250 (архив)':5}
earned_on_sms = true_sms.merge(pd.Series(sms_dic).reset_index().rename(columns = {'index':'tarif', 0:'price'}), on='tarif')

earned_on_sms['earned'] = earned_on_sms.sms * earned_on_sms.price
earned_on_sms

                tarif  sms  price  earned
0                 ВИП  146      1     146
1          Все за 300  170      2     340
2  Всё за 250 (архив)   25      5     125
3          Всё за 500  341      3    1023
4          Всё за 800  456      4    1824
5       Корпоративный  194      0       0
6               Промо  203      7    1421

In [45]:
earned_on_sms.earned.sum()

4879

In [41]:
# создать датафрейм на основе словаря
# создать серию на основе словаря
# датасет серия датафрейм серия
pd.Series(sms_dic).reset_index().rename(columns = {'index':'tarif', 0:'price'})

                tarif  price
0                 ВИП      1
1          Все за 300      2
2          Всё за 500      3
3          Всё за 800      4
4               Промо      7
5       Корпоративный      0
6  Всё за 250 (архив)      5

In [53]:
# Вопрос 11: Определите процент клиентов, у которых баланс выше 4000
df[df.balance > 4000].name.count() /  df.name.count() *100

30.0

In [54]:
# Вопрос 12: Определите процент клиентов, у которых баланс выше 2000 и тариф 'Всё за 500'
df[(df.balance > 2000) & (df.tarif == 'Всё за 500')].name.count() /  df.name.count() *100

16.666666666666664

In [55]:
# Вопрос 13: Сколько клиентов из Москвы, у которых баланс выше 1500 и марка телефона 'Apple'?
df[(df.balance > 1500) & (df.phone == 'Apple') & (df.city == 'Moscow')].name.count()

2

In [56]:
df.groupby('name').count()

         surname  tarif  balance  age  sms  voice  city  phone
name
Alex           4      4        4    4    4      4     4      4
Andrey         5      5        5    5    5      5     5      5
Igor           3      3        3    3    3      3     3      3
Nikolay        4      4        4    4    4      4     4      4
Sergey         8      8        8    8    8      8     8      8
Stas           6      6        6    6    6      6     6      6

In [57]:
# Вопрос 15: Определите процент клиентов у которых телефон Apple и они из Владивостока
df[(df.city =='Vladivostok') & (df.phone == 'Apple')].name.count() /  df.name.count() *100

3.3333333333333335

In [59]:
"""Поступила задача разбить клиентов на группы:

до 25 лет (включительно) - A (англ. буква)
с 26 до 40 лет (включительно) - B (англ. буква)
старше 40 лет - C (англ. буква)"""

def group_users(user):
    if user<=25: return 'A'
    elif 26<=user<=40: return 'B'
    elif user>40: return 'C'

df['group'] = df.age.map(group_users)
df

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,C

In [67]:
deb_funds = df.copy()
deb_funds

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,C

In [68]:
"""Пришла информация, что на сервере в Москве возник сбой и баланс за отправленные смс не списался 
(у пользователей из Москвы). 
Спишите с каждого пользователя из Москвы деньги за смс. 
Количество отправленных смс за которые не списали деньги в столбце sms. Стоимость 1 смс - 3 рубля. 
(обновите колонку balance):"""
temp_list = []
for ind, row in df.iterrows():
    if row.city == 'Moscow':res = row.balance - row.sms *3
    else: res = row.balance
    temp_list.append(res)

deb_funds.balance = pd.Series(temp_list)

deb_funds

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung,C

In [72]:
# другое решение
# поменять некоторые значения в столбце
deb_funds = df.copy()
deb_funds.balance = deb_funds.balance.where(deb_funds.city != 'Moscow', 
                        other = deb_funds.balance - deb_funds.sms *3)

deb_funds

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung,C

np.where (условие, значение для True, значение для False)

In [74]:
# третье решение (удобнее, потому что можно передать массиву два варианта выбора значений )
# поменять некоторые значения в столбце
import numpy as np
deb_funds = df.copy()
deb_funds['balance'] = np.where(deb_funds['city'] == 'Moscow', 
                                deb_funds['balance'] - deb_funds['sms']*3, 
                                deb_funds['balance'])

deb_funds

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2641,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,167,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4786,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4546,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4319,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3698,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C
23,Bykin,Sergey,Всё за 800,3983,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung,C

Ваш коллега Юра отправил вам результаты обработки данных в файле .npz, но торопился и не успел написать под какими ключами сохранил массивы в файл. Скачайте файл, определите название ключа под которым сохранён первый массив в файле.

https://stepik.org/media/attachments/lesson/749675/data.npz

In [90]:
some_arrays = np.load('/Users/tony_builder/Documents/GitHub/studying/Pandas_stepik/train_data/data.npz')
some_arrays

In [91]:
# вытянуть имена из файла типа npz
some_arrays.files

['mykey1', 'mykey2']

In [92]:
# обратиться к массивам, хранящимся в файле типа npz (вытянуть массивы)
some_arrays['mykey1']

array([1, 2, 3], dtype=int32)

In [93]:
some_arrays['mykey2']

array([4, 5, 6], dtype=int32)

    На совещании было принято решение детальнее проработать вопрос списания денежных средств. Теперь, спишите деньги (у пользователей из Москвы за смс) с учетом тарифной сетки:

    ВИП - 1 рубль за СМС
    Все за 300 - 2 рубля за СМС
    Всё за 500 - 3 рубля за СМС
    Всё за 800 - 4 рубля за СМС
    Промо - 7 рублей за СМС
    Корпоративный - 0 рублей за СМС
    Всё за 250 (архив) - 5 рублей за СМС

In [83]:
sms_dic = {'ВИП': 1, 'Все за 300': 2, 
           'Всё за 500':3, 
           'Всё за 800': 4, 
           'Промо': 7, 
           'Корпоративный':0, 
           'Всё за 250 (архив)':5}

In [87]:
true_deb_funds = df.copy()
true_deb_funds['price'] = true_deb_funds.tarif.map(lambda x: sms_dic[x])
true_deb_funds['balance'] = np.where(true_deb_funds['city'] == 'Moscow', 
                                true_deb_funds['balance'] - true_deb_funds['sms']* true_deb_funds.price, 
                                true_deb_funds['balance'])

true_deb_funds

,surname,name,tarif,balance,age,sms,voice,city,phone,group,price
0,Girev,Andrey,ВИП,2757,29,58,6358,Moscow,Xiaomi,B,1
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B,2
2,Ivanov,Alex,Всё за 800,86,47,81,3582,Moscow,Huawei,C,4
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C,3
4,Girev,Stas,Всё за 800,4725,43,61,8510,Moscow,Samsung,C,4
5,Bykin,Andrey,Всё за 500,4191,49,39,2525,Moscow,Xiaomi,C,3
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C,4
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C,7
8,Petrov,Nikolay,ВИП,4722,72,88,7188,Moscow,Apple,C,1
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C,4
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B,7
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C,0
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C,0
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B,7
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B,5
15,Kozlov,Stas,Всё за 800,4237,59,82,3168,Moscow,Apple,C,4
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B,4
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,C,0
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B,4
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C,7
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C,3
21,Bykin,Igor,Всё за 500,2609,38,11,3787,Moscow,Xiaomi,B,3
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung,C,2
23,Bykin,Sergey,Всё за 800,3944,48,39,227,Moscow,Xiaomi,C,4
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C,2
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C,0
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B,5
27,Smolov,Stas,Всё за 500,2545,41,33,8341,Moscow,Xiaomi,C,3
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B,3
29,Ivanov,Nikolay,Всё за 500,2770,41,5,2901,Moscow,Samsung,C,3

In [89]:
# Пользователь Girev Sergey написал заявление о том, что переехал из города Vladivostok в Kazan. 
# Внесите изменения в датафрейм

# заменить конкретное значение в одном из столбцов

girev = df.copy()
girev.city = np.where(((girev.surname == 'Girev') & (girev.name == 'Sergey')),
                       'Kazan',
                       girev.city)

girev

,surname,name,tarif,balance,age,sms,voice,city,phone,group
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi,B
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung,B
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei,C
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple,C
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung,C
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi,C
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung,C
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple,C
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple,C
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple,C
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi,B
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung,C
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple,C
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi,B
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei,B
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple,C
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi,B
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei,C
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple,B
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung,C
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi,C
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi,B
22,Girev,Sergey,Все за 300,4230,62,68,5512,Kazan,Samsung,C
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi,C
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple,C
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei,C
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei,B
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi,C
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi,B
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung,C

### Чтение файла csv по кускам (chunk)

In [2]:
import pandas as pd
customers = pd.read_csv('/Users/tony_builder/Documents/GitHub/studying/Pandas_stepik/train_data/Customers.csv', sep=';')
customers

,CustomerID,ContactName,ContactTitle,Phone,Address
0,ALFKI,Maria Anders,Sales Representative,030-0074321,Obere Str. 57
1,ANATR,Ana Trujillo,Owner,(5) 555-4729,Avda. de la Constitucion 2222
2,ANTON,Antonio Moreno,Owner,(5) 555-3932,Mataderos 2312
3,AROUT,Thomas Hardy,Sales Representative,(171) 555-7788,120 Hanover Sq.
4,BERGS,Christina Berglund,Order Administrator,0921-12 34 65,Berguvsv?gen 8
...,...,...,...,...,...
86,WARTH,Pirkko Koskitalo,Accounting Manager,981-443655,Torikatu 38
87,WELLI,Paula Parente,Sales Manager,(14) 555-8122,"Rua do Mercado, 12"
88,WHITC,Karl Jablonski,Owner,(206) 555-4112,305 - 14th Ave. S. Suite 3B
89,WILMK,Matti Karttunen,Owner/Marketing Assistant,90-224 8858,Keskuskatu 45
90,WOLZA,Zbyszek Piestrzeniewicz,Owner,(26) 642-7012,ul. Filtrowa 68

In [5]:
reader = pd.read_csv('/Users/tony_builder/Documents/GitHub/studying/Pandas_stepik/train_data/Customers.csv', 
                     sep=';',
                     chunksize=4)   # указать число кусков, которые нужно считывать за итерацию

for chunk in reader:
    display(chunk)

,CustomerID,ContactName,ContactTitle,Phone,Address
0,ALFKI,Maria Anders,Sales Representative,030-0074321,Obere Str. 57
1,ANATR,Ana Trujillo,Owner,(5) 555-4729,Avda. de la Constitucion 2222
2,ANTON,Antonio Moreno,Owner,(5) 555-3932,Mataderos 2312
3,AROUT,Thomas Hardy,Sales Representative,(171) 555-7788,120 Hanover Sq.

,CustomerID,ContactName,ContactTitle,Phone,Address
4,BERGS,Christina Berglund,Order Administrator,0921-12 34 65,Berguvsv?gen 8
5,BLAUS,Hanna Moos,Sales Representative,0621-08460,Forsterstr. 57
6,BLONP,Frederique Citeaux,Marketing Manager,88.60.15.31,"24, place Kleber"
7,BOLID,Martin Sommer,Owner,(91) 555 22 82,"C/ Araquil, 67"

,CustomerID,ContactName,ContactTitle,Phone,Address
8,BONAP,Laurence Lebihan,Owner,91.24.45.40,"12, rue des Bouchers"
9,BOTTM,Elizabeth Lincoln,Accounting Manager,(604) 555-4729,23 Tsawassen Blvd.
10,BSBEV,Victoria Ashworth,Sales Representative,(171) 555-1212,Fauntleroy Circus
11,CACTU,Patricio Simpson,Sales Agent,(1) 135-5555,Cerrito 333

,CustomerID,ContactName,ContactTitle,Phone,Address
12,CENTC,Francisco Chang,Marketing Manager,(5) 555-3392,Sierras de Granada 9993
13,CHOPS,Yang Wang,Owner,0452-076545,Hauptstr. 29
14,COMMI,Pedro Afonso,Sales Associate,(11) 555-7647,"Av. dos Lusiadas, 23"
15,CONSH,Elizabeth Brown,Sales Representative,(171) 555-2282,Berkeley Gardens 12 Brewery

,CustomerID,ContactName,ContactTitle,Phone,Address
16,DRACD,Sven Ottlieb,Order Administrator,0241-039123,Walserweg 21
17,DUMON,Janine Labrune,Owner,40.67.88.88,"67, rue des Cinquante Otages"
18,EASTC,Ann Devon,Sales Agent,(171) 555-0297,35 King George
19,ERNSH,Roland Mendel,Sales Manager,7675-3425,Kirchgasse 6

,CustomerID,ContactName,ContactTitle,Phone,Address
20,FAMIA,Aria Cruz,Marketing Assistant,(11) 555-9857,"Rua Oros, 92"
21,FISSA,Diego Roel,Accounting Manager,(91) 555 94 44,"C/ Moralzarzal, 86"
22,FOLIG,Martine Rance,Assistant Sales Agent,20.16.10.16,"184, chaussee de Tournai"
23,FOLKO,Maria Larsson,Owner,0695-34 67 21,Akergatan 24

,CustomerID,ContactName,ContactTitle,Phone,Address
24,FRANK,Peter Franken,Marketing Manager,089-0877310,Berliner Platz 43
25,FRANR,Carine Schmitt,Marketing Manager,40.32.21.21,"54, rue Royale"
26,FRANS,Paolo Accorti,Sales Representative,011-4988260,Via Monte Bianco 34
27,FURIB,Lino Rodriguez,Sales Manager,(1) 354-2534,Jardim das rosas n. 32

,CustomerID,ContactName,ContactTitle,Phone,Address
28,GALED,Eduardo Saavedra,Marketing Manager,(93) 203 4560,"Rambla de Catalu?a, 23"
29,GODOS,Jose Pedro Freyre,Sales Manager,(95) 555 82 82,"C/ Romero, 33"
30,GOURL,Andre Fonseca,Sales Associate,(11) 555-9482,"Av. Brasil, 442"
31,GREAL,Howard Snyder,Marketing Manager,(503) 555-7555,2732 Baker Blvd.

,CustomerID,ContactName,ContactTitle,Phone,Address
32,GROSR,Manuel Pereira,Owner,(2) 283-2951,5? Ave. Los Palos Grandes
33,HANAR,Mario Pontes,Accounting Manager,(21) 555-0091,"Rua do Pa?o, 67"
34,HILAA,Carlos Hernandez,Sales Representative,(5) 555-1340,Carrera 22 con Ave. Carlos Soublette #8-35
35,HUNGC,Yoshi Latimer,Sales Representative,(503) 555-6874,City Center Plaza 516 Main St.

,CustomerID,ContactName,ContactTitle,Phone,Address
36,HUNGO,Patricia McKenna,Sales Associate,2 967 542,8 Johnstown Road
37,ISLAT,Helen Bennett,Marketing Manager,(198) 555-8888,Garden House Crowther Way
38,KOENE,Philip Cramer,Sales Associate,0555-09876,Maubelstr. 90
39,LACOR,Daniel Tonini,Sales Representative,30.59.84.10,"67, avenue de l'Europe"

,CustomerID,ContactName,ContactTitle,Phone,Address
40,LAMAI,Annette Roulet,Sales Manager,61.77.61.10,1 rue Alsace-Lorraine
41,LAUGB,Yoshi Tannamuri,Marketing Assistant,(604) 555-3392,1900 Oak St.
42,LAZYK,John Steel,Marketing Manager,(509) 555-7969,12 Orchestra Terrace
43,LEHMS,Renate Messner,Sales Representative,069-0245984,Magazinweg 7

,CustomerID,ContactName,ContactTitle,Phone,Address
44,LETSS,Jaime Yorres,Owner,(415) 555-5938,87 Polk St. Suite 5
45,LILAS,Carlos Gonzalez,Accounting Manager,(9) 331-6954,Carrera 52 con Ave. Bolivar #65-98 Llano Largo
46,LINOD,Felipe Izquierdo,Owner,(8) 34-56-12,Ave. 5 de Mayo Porlamar
47,LONEP,Fran Wilson,Sales Manager,(503) 555-9573,89 Chiaroscuro Rd.

,CustomerID,ContactName,ContactTitle,Phone,Address
48,MAGAA,Giovanni Rovelli,Marketing Manager,035-640230,Via Ludovico il Moro 22
49,MAISD,Catherine Dewey,Sales Agent,(02) 201 24 67,Rue Joseph-Bens 532
50,MEREP,Jean Fresniere,Marketing Assistant,(514) 555-8054,43 rue St. Laurent
51,MORGK,Alexander Feuer,Marketing Assistant,0342-023176,Heerstr. 22

,CustomerID,ContactName,ContactTitle,Phone,Address
52,NORTS,Simon Crowther,Sales Associate,(171) 555-7733,South House 300 Queensbridge
53,OCEAN,Yvonne Moncada,Sales Agent,(1) 135-5333,Ing. Gustavo Moncada 8585 Piso 20-A
54,OLDWO,Rene Phillips,Sales Representative,(907) 555-7584,2743 Bering St.
55,OTTIK,Henriette Pfalzheim,Owner,0221-0644327,Mehrheimerstr. 369

,CustomerID,ContactName,ContactTitle,Phone,Address
56,PARIS,Marie Bertrand,Owner,(1) 42.34.22.66,"265, boulevard Charonne"
57,PERIC,Guillermo Fernandez,Sales Representative,(5) 552-3745,Calle Dr. Jorge Cash 321
58,PICCO,Georg Pipps,Sales Manager,6562-9722,Geislweg 14
59,PRINI,Isabel de Castro,Sales Representative,(1) 356-5634,Estrada da sa?de n. 58

,CustomerID,ContactName,ContactTitle,Phone,Address
60,QUEDE,Bernardo Batista,Accounting Manager,(21) 555-4252,"Rua da Panificadora, 12"
61,QUEEN,Lucia Carvalho,Marketing Assistant,(11) 555-1189,"Alameda dos Can?rios, 891"
62,QUICK,Horst Kloss,Accounting Manager,0372-035188,Taucherstra?e 10
63,RANCH,Sergio Gutierrez,Sales Representative,(1) 123-5555,Av. del Libertador 900

,CustomerID,ContactName,ContactTitle,Phone,Address
64,RATTC,Paula Wilson,Assistant Sales Representative,(505) 555-5939,2817 Milton Dr.
65,REGGC,Maurizio Moroni,Sales Associate,0522-556721,Strada Provinciale 124
66,RICAR,Janete Limeira,Assistant Sales Agent,(21) 555-3412,"Av. Copacabana, 267"
67,RICSU,Michael Holz,Sales Manager,0897-034214,Grenzacherweg 237

,CustomerID,ContactName,ContactTitle,Phone,Address
68,ROMEY,Alejandra Camino,Accounting Manager,(91) 745 6200,"Gran Via, 1"
69,SANTG,Jonas Bergulfsen,Owner,07-98 92 35,Erling Skakkes gate 78
70,SAVEA,Jose Pavarotti,Sales Representative,(208) 555-8097,187 Suffolk Ln.
71,SEVES,Hari Kumar,Sales Manager,(171) 555-1717,90 Wadhurst Rd.

,CustomerID,ContactName,ContactTitle,Phone,Address
72,SIMOB,Jytte Petersen,Owner,31 12 34 56,Vinb?ltet 34
73,SPECD,Dominique Perrier,Marketing Manager,(1) 47.55.60.10,"25, rue Lauriston"
74,SPLIR,Art Braunschweiger,Sales Manager,(307) 555-4680,P.O. Box 555
75,SUPRD,Pascale Cartrain,Accounting Manager,(071) 23 67 22 20,"Boulevard Tirou, 255"

,CustomerID,ContactName,ContactTitle,Phone,Address
76,THEBI,Liz Nixon,Marketing Manager,(503) 555-3612,89 Jefferson Way Suite 2
77,THECR,Liu Wong,Marketing Assistant,(406) 555-5834,55 Grizzly Peak Rd.
78,TOMSP,Karin Josephs,Marketing Manager,0251-031259,Luisenstr. 48
79,TORTU,Miguel Angel Paolino,Owner,(5) 555-2933,Avda. Azteca 123

,CustomerID,ContactName,ContactTitle,Phone,Address
80,TRADH,Anabela Domingues,Sales Representative,(11) 555-2167,"Av. Ines de Castro, 414"
81,TRAIH,Helvetius Nagy,Sales Associate,(206) 555-8257,722 DaVinci Blvd.
82,VAFFE,Palle Ibsen,Sales Manager,86 21 32 43,Smagsloget 45
83,VICTE,Mary Saveley,Sales Agent,78.32.54.86,"2, rue du Commerce"

,CustomerID,ContactName,ContactTitle,Phone,Address
84,VINET,Paul Henriot,Accounting Manager,26.47.15.10,59 rue de l'Abbaye
85,WANDK,Rita Muller,Sales Representative,0711-020361,Adenauerallee 900
86,WARTH,Pirkko Koskitalo,Accounting Manager,981-443655,Torikatu 38
87,WELLI,Paula Parente,Sales Manager,(14) 555-8122,"Rua do Mercado, 12"

,CustomerID,ContactName,ContactTitle,Phone,Address
88,WHITC,Karl Jablonski,Owner,(206) 555-4112,305 - 14th Ave. S. Suite 3B
89,WILMK,Matti Karttunen,Owner/Marketing Assistant,90-224 8858,Keskuskatu 45
90,WOLZA,Zbyszek Piestrzeniewicz,Owner,(26) 642-7012,ul. Filtrowa 68

Перевести весь датасет в массив np.array

In [2]:
import pandas as pd
data = [['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan', 'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow', 'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan', 'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow', 'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow', 'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk', 'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow', 'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk', 'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'], 
        ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk', 'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan', 'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk', 'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959, 'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow', 'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk', 'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow', 'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734, 'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok', 'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan', 'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow', 'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512, 'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow', 'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan', 'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847, 'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115, 'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow', 'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441, 'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow', 'Samsung']]

df = pd.DataFrame(data, columns = ['surname', 'name', 'tarif', 'balance', 'age', 'sms', 'voice', 'city', 'phone'])
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [3]:
df.to_numpy()

array([['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']], dtype=object)

In [5]:
import numpy as np
np.array(df)

array([['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']], dtype=object)

In [6]:

df.to_array()

AttributeError: 'DataFrame' object has no attribute 'to_array'

In [7]:
np.asarray(df)

array([['Girev', 'Andrey', 'ВИП', 2815, 29, 58, 6358, 'Moscow', 'Xiaomi'],
       ['Bykin', 'Stas', 'Все за 300', 3634, 37, 78, 602, 'Kazan',
        'Samsung'],
       ['Ivanov', 'Alex', 'Всё за 800', 410, 47, 81, 3582, 'Moscow',
        'Huawei'],
       ['Andreev', 'Sergey', 'Всё за 500', 1981, 75, 98, 5442, 'Kazan',
        'Apple'],
       ['Girev', 'Stas', 'Всё за 800', 4969, 43, 61, 8510, 'Moscow',
        'Samsung'],
       ['Bykin', 'Andrey', 'Всё за 500', 4308, 49, 39, 2525, 'Moscow',
        'Xiaomi'],
       ['Kozlov', 'Igor', 'Всё за 800', 300, 60, 31, 8543, 'Yakutsk',
        'Samsung'],
       ['Girev', 'Alex', 'Промо', 4199, 47, 90, 3925, 'Kazan', 'Apple'],
       ['Petrov', 'Nikolay', 'ВИП', 4810, 72, 88, 7188, 'Moscow',
        'Apple'],
       ['Andreev', 'Sergey', 'Всё за 800', 4118, 52, 53, 419, 'Yakutsk',
        'Apple'],
       ['Smolov', 'Stas', 'Промо', 1991, 28, 67, 5016, 'Kazan', 'Xiaomi'],
       ['Girev', 'Igor', 'Корпоративный', 1430, 69, 19, 9520, 'Yakutsk',
        'Samsung'],
       ['Kozlov', 'Andrey', 'Корпоративный', 113, 71, 82, 2785, 'Kazan',
        'Apple'],
       ['Ivanov', 'Sergey', 'Промо', 3394, 39, 12, 2718, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Sergey', 'Всё за 250 (архив)', 3493, 32, 6, 8959,
        'Yakutsk', 'Huawei'],
       ['Kozlov', 'Stas', 'Всё за 800', 4565, 59, 82, 3168, 'Moscow',
        'Apple'],
       ['Vlasov', 'Andrey', 'Всё за 800', 3192, 29, 74, 2852, 'Yakutsk',
        'Xiaomi'],
       ['Smolov', 'Alex', 'Корпоративный', 3764, 71, 22, 2768, 'Moscow',
        'Huawei'],
       ['Vlasov', 'Sergey', 'Всё за 800', 3816, 28, 35, 5734,
        'Vladivostok', 'Apple'],
       ['Bykin', 'Alex', 'Промо', 817, 65, 34, 2131, 'Vladivostok',
        'Samsung'],
       ['Andreev', 'Nikolay', 'Всё за 500', 385, 49, 62, 1815, 'Kazan',
        'Xiaomi'],
       ['Bykin', 'Igor', 'Всё за 500', 2642, 38, 11, 3787, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Sergey', 'Все за 300', 4230, 62, 68, 5512,
        'Vladivostok', 'Samsung'],
       ['Bykin', 'Sergey', 'Всё за 800', 4100, 48, 39, 227, 'Moscow',
        'Xiaomi'],
       ['Girev', 'Stas', 'Все за 300', 3371, 53, 24, 7946, 'Kazan',
        'Apple'],
       ['Smolov', 'Sergey', 'Корпоративный', 3577, 70, 71, 8847,
        'Yakutsk', 'Huawei'],
       ['Mezov', 'Nikolay', 'Всё за 250 (архив)', 2742, 28, 19, 7115,
        'Yakutsk', 'Huawei'],
       ['Smolov', 'Stas', 'Всё за 500', 2644, 41, 33, 8341, 'Moscow',
        'Xiaomi'],
       ['Vlasov', 'Andrey', 'Всё за 500', 4725, 26, 93, 9441,
        'Vladivostok', 'Xiaomi'],
       ['Ivanov', 'Nikolay', 'Всё за 500', 2785, 41, 5, 2901, 'Moscow',
        'Samsung']], dtype=object)

In [8]:


df.to_matrix()

AttributeError: 'DataFrame' object has no attribute 'to_matrix'

In [9]:
df

,surname,name,tarif,balance,age,sms,voice,city,phone
0,Girev,Andrey,ВИП,2815,29,58,6358,Moscow,Xiaomi
1,Bykin,Stas,Все за 300,3634,37,78,602,Kazan,Samsung
2,Ivanov,Alex,Всё за 800,410,47,81,3582,Moscow,Huawei
3,Andreev,Sergey,Всё за 500,1981,75,98,5442,Kazan,Apple
4,Girev,Stas,Всё за 800,4969,43,61,8510,Moscow,Samsung
5,Bykin,Andrey,Всё за 500,4308,49,39,2525,Moscow,Xiaomi
6,Kozlov,Igor,Всё за 800,300,60,31,8543,Yakutsk,Samsung
7,Girev,Alex,Промо,4199,47,90,3925,Kazan,Apple
8,Petrov,Nikolay,ВИП,4810,72,88,7188,Moscow,Apple
9,Andreev,Sergey,Всё за 800,4118,52,53,419,Yakutsk,Apple
10,Smolov,Stas,Промо,1991,28,67,5016,Kazan,Xiaomi
11,Girev,Igor,Корпоративный,1430,69,19,9520,Yakutsk,Samsung
12,Kozlov,Andrey,Корпоративный,113,71,82,2785,Kazan,Apple
13,Ivanov,Sergey,Промо,3394,39,12,2718,Yakutsk,Xiaomi
14,Smolov,Sergey,Всё за 250 (архив),3493,32,6,8959,Yakutsk,Huawei
15,Kozlov,Stas,Всё за 800,4565,59,82,3168,Moscow,Apple
16,Vlasov,Andrey,Всё за 800,3192,29,74,2852,Yakutsk,Xiaomi
17,Smolov,Alex,Корпоративный,3764,71,22,2768,Moscow,Huawei
18,Vlasov,Sergey,Всё за 800,3816,28,35,5734,Vladivostok,Apple
19,Bykin,Alex,Промо,817,65,34,2131,Vladivostok,Samsung
20,Andreev,Nikolay,Всё за 500,385,49,62,1815,Kazan,Xiaomi
21,Bykin,Igor,Всё за 500,2642,38,11,3787,Moscow,Xiaomi
22,Girev,Sergey,Все за 300,4230,62,68,5512,Vladivostok,Samsung
23,Bykin,Sergey,Всё за 800,4100,48,39,227,Moscow,Xiaomi
24,Girev,Stas,Все за 300,3371,53,24,7946,Kazan,Apple
25,Smolov,Sergey,Корпоративный,3577,70,71,8847,Yakutsk,Huawei
26,Mezov,Nikolay,Всё за 250 (архив),2742,28,19,7115,Yakutsk,Huawei
27,Smolov,Stas,Всё за 500,2644,41,33,8341,Moscow,Xiaomi
28,Vlasov,Andrey,Всё за 500,4725,26,93,9441,Vladivostok,Xiaomi
29,Ivanov,Nikolay,Всё за 500,2785,41,5,2901,Moscow,Samsung

In [18]:
data = {'A': list(range(1, 6)), 'B': list(range(10, 15)), 'C': list(range(11, 16)), 'D': list(range(20, 25))}
df = pd.DataFrame(data)
df

   A   B   C   D
0  1  10  11  20
1  2  11  12  21
2  3  12  13  22
3  4  13  14  23
4  5  14  15  24

In [17]:
df['E'] = [25,26,27,28,29]
df

   A   B   C   D   E
0  1  10  11  20  25
1  2  11  12  21  26
2  3  12  13  22  27
3  4  13  14  23  28
4  5  14  15  24  29

In [19]:
df2 = df.assign(E = range(25,30))

df2

   A   B   C   D   E
0  1  10  11  20  25
1  2  11  12  21  26
2  3  12  13  22  27
3  4  13  14  23  28
4  5  14  15  24  29